.{
    box-sizing: border-box;
}
html{
    font-size:16px;
}
body,button, input,select, textarea,h1 ,h2, h3, h4, h5, h6 { 
    font-family:MicrosoftYaHei,'宋體',Tahoma,Helvetica,Arial,"\5b8b\4f53", sans-serif;
}
h2,h3,h4{
    color: rgb(55,141,157);
}

.h2,h2{
    font-size:3rem;

}

.jumbotron-fluid{
    padding:40px 0;
}
#intro{
    background-color: lightblue; 
    opacity: 95%;
}
#intro .jumbotron-fluid{
    height: 100vh;
    /* width: 100%; */ 
    /* background-color:gray; */
    background-image: url(./image/background4.jpg);
    background-size: cover;
    opacity: 80%;
    background-attachment: fixed;
}


h1,h2,h3,h4,h5,h6{
    line-height: 1.5;
    
}
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container{
    text-align: center;
    padding:40px 180px;

}





#intro .container{
    position: relative;
    top: 39%;
    text-align: center;
    
}
#intro .container h1{
    font-size: 65px;
}


#intro .container p{
    font-size: 30px;
    text-align: center;
}

#profile .container .lead{
    margin-bottom: 4px;
}

.container .col-md-4 p,h3{
    font-size: 20px;
    text-align: left;
}

.container .col-md-4 p{
    font-size: 12px;
}

#experience .jumbotron-fluid{
    background-color: rgb(182,231,240);
}

#experience .jumbotron-fluid hr{
    border-top: 1px solid white;
}
.clearfix{
    content:"";
    clear:both;
    display: table;
}
ul,li,p{
    text-align: left;
    font-size: small;
    letter-spacing: 1px;
}
p{
    text-align: center;
}

#project .col-md-8{
    text-align: left;
}
.lead .part{
    text-align: left;
}

#ability ul{
    list-style-type: none;
    padding: 0;
}

.fa-star{
    color: rgb(55,141,157);
}
.checked{
    color: gray;
}

.ability-title{
    display: inline-block;
}
.ability-score{
    float: right;
}

#ability ul > li:hover{
    background: #F2F2F2;
}
#ability ul > li:hover .ability-score{
    transform: scale(1.08);
}
.ability-score{
    transition: transform 0.5s ease;
}



#mail:hover {
    color: white;
}