body,html{
    box-sizing: border-box;
    height:100%;
    margin:0;
    padding:0;
  }
  
  .parallax {
    /* The image used */
    background-image: url('./image/background2.jpg');
    min-height: 100%;
    /* margin-bottom: 0px;
    padding:0px; */
    /* Full height */

    background-size: cover;

    background-attachment: fixed;
    opacity: 0.53;
    position: relative;
  }

.container{
    position: absolute;
    left: 0;
    top:40%;
    height: 40px;
    width: 100%;
    text-align: center;
}
.container > h1{
    font-size: 60px;
    margin:10px  0;
}

.profile{
    top:10%;
    margin-left:auto;
    margin-right:auto;
    padding:40px 180px;
    width:60%;
    height:100%;
}

.context{
    line-height: 0.25;
}

.context > h2{
    text-align:center; 
    font-size: 65px; 
    letter-spacing:1px;
    font-weight: 10;
    color:rgba(17, 17, 17, 0.513);
    margin-bottom:5%;
}
.context > p{
    text-align: center;
    
    margin-bottom: 5%;
}



.row .side{
    /* position: relative; */

    width: 35%;
    /* padding: 10px; */
    height: 100%;

}
.row .mid{
    width: 30%;
    /* padding:10px; */
    height: 100%;
}

.row{
    float:left;
    display: inline-block;
    /* position: absolute; */
    /* padding:15px; */
}

.row:after ,.row:before {
    content: "";
    display: table;
    clear: both;
    
}
