#intro .jumbotron-fluid{
    height: 100vh;
    /* width: 100%; */ 
    /* background-color:gray; */
    background-image: url(./image/background2.jpg);
    background-size: cover;
    opacity: 47%;
    
    background-attachment: fixed;
}

#intro .container{
    position: relative;
    top: 39%;
    text-align: center;
    
}
#intro .container h1{
    font-size: 65px;
}

#intro .container p{
    font-size: 30px;
}